.App {
  text-align: center;
}

.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: royalblue;
  color: white;
  border: 1px solid black;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;
  justify-content: center;

  &:hover {
    background-color: white;
    color: royalblue;
    border: 1px solid royalblue;
  }
}

.section-header {
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  cursor: pointer;
}